.product-page {
  display: flex;
}
.col1 {
  width: 20%;
  min-width: max-content;
}
.col2 {
  width: 80%;
}
.sidebar {
  padding: 2rem;
  min-width: 100%;
  background: var(--font-color-invert);
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
}
.slider {
  display: flex;
  flex-direction: column;
}
.input-slider {
  accent-color: var(--primary);
}
.price-label {
  display: flex;
  justify-content: space-between;
}
.input-checkbox,
.input-radio {
  margin-bottom: 0;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .col1 {
    display: none;
  }
}
